.mainLayout {
  padding: 2rem;
  height: 100vh;
  display: flex;
  gap: 2rem;
}

.innerLayout {
  padding: 2rem 1.5rem;
  width: 100%;
}

.main_container {
  flex: 1;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow: auto;
  overflow-x: hidden;
}

.main_container::-webkit-scrollbar {
  width: 0;
}
