.income_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.income_form_input,
.income_form_select,
.income_form_textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  resize: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  color: rgba(34, 34, 96, 0.9);
}

.income_form_input::placeholder,
.income_form_select::placeholder,
.income_form_textarea::placeholder {
  color: rgba(34, 34, 96, 0.4);
}

.input_control input {
  width: 100%;
}

.selects {
  display: flex;
  justify-content: flex-end;
}

.selects select {
  color: rgba(34, 34, 96, 0.4);
}

.selects select:focus,
.selects select:active {
  color: rgba(34, 34, 96, 1);
}

.submit_btn button {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
}

.submit_btn button:hover {
  background: var(--color-green) !important;
}
